* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./DevLinks\ •\ Projeto\ Discover\ \(Community\)/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.10);
    --surface-color: rgba(255, 255, 255, 0.10);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.20);
    --switch-bg-url: url(./DevLinks\ •\ Projeto\ Discover\ \(Community\)/MoonStars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./DevLinks\ •\ Projeto\ Discover\ \(Community\)/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.50);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.10);
    --switch-bg-url: url(./DevLinks\ •\ Projeto\ Discover\ \(Community\)/Sun.svg);
}

body {

    /*
    background: url(./DevLinks\ •\ Projeto\ Discover\ \(Community\)/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */

    /*background: clolor image repeat position/size    shortcut*/
    background: var(--bg-url) no-repeat top center/cover;

}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {

    width: 100%;
    max-width:588px;
    margin: auto;
    padding: 56px 24px 0px 24px;

}

/*profile*/
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    /*
    display: block;
    margin:auto;
    */
}



#profile p {
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}

/*switch*/

#switch{
    position:relative;
    width:64px;
    margin:4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    border: none;
    background: white var(--switch-bg-url) no-repeat center;
    border-radius: 50%;
    
    position:absolute;
    top:50%;
    left:0;
    z-index:1;
    transform: translateY(-50%);

}

.light #switch button{
    right:0;
    left:initial;
}

#switch span {
    display:block;
    width: 64px;
    height: 24px;
    border-radius: 9999px;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/*links*/

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;

}


ul li a {
    display: flex;
    justify-content: center;
    /*
    o mesmo que pra centralizar
    display:block;
    text-align: center;
    */
    padding: 16px 24px;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);


    text-decoration: none;
    font-weight: 500;

    transition: background .2s;
}

/*pseudo-selector*/
ul li a:hover {
    border: 1.5px solid var(--text-color);
    background: var(--surface-color-hover);

}

/*social-links*/

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

/*alinha bolinha*/
#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background .2s;
}

#social-links a:hover {
    background: var(--highlight-color);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/*media queries*/
@media (min-width:700px){
    :root{
        --bg-url:url(./DevLinks\ •\ Projeto\ Discover\ \(Community\)/bg-desktop.jpg);
    }

    .light{
        --bg-url:url(./DevLinks\ •\ Projeto\ Discover\ \(Community\)/bg-desktop-light.jpg);
    }
}